<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="ClassWork02" >


    <test name="Web Site Test"  >

        <parameter name="fname" value="src/test/resources/webElementIds.txt" />
        <parameter name="url" value="http://lenta.ru"/>

        <classes>
            <class name="org.andestech.learning.rfb18.g2.AppTest" />
        </classes>
    </test>





</suite>
